.input-area {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  max-width: 420px;

  display: flex;
  gap: 8px;
  padding: 10px;

  background: #020617;
  border-top: 1px solid #1e293b;
  z-index: 100;
}
